AUTH_SESSION_SECRET=
DEEPSEEK_API_KEY=
GREEN_DATA_API_URL=
GREEN_PROXY_SECRET=
GREEN_TEACHER_FEEDBACK_ADMIN_KEY=
TENCENTCLOUD_SECRET_ID=
TENCENTCLOUD_SECRET_KEY=
TENCENT_TTS_VOICE_TYPE=502006
TENCENTCLOUD_REGION=ap-beijing
